.pulsante {
    background: #ee7560;
    color: #fff;
    text-decoration: none;
    padding: 10px 30px;
    font-size: 20px;
    line-height: 30px;
    display: inline-block;
    border-radius: 10px;
    margin-top: 20px;
    transition: all 0.3s ease-out;
    border: 2px #ee7560 solid;
    cursor: pointer;
    width: 100%;
    justify-content: center;
}
.pulsante:hover {
    background: #fff;
    color: #ee7560;
}
.titles {
    left: 50%;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
div {
    width: 100%;
    display: inline-block ;
    padding: 50px;
    justify-content: center;
}